.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: rgba(216, 210, 210, 0.295);

  nav {
    @media (max-width: 600px) {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      z-index: 1;
    }

    display: flex;
    background-color: white;
    align-items: center;

    .menu_mobile {
      display: none;

      img {
        height: 2rem;
      }

      @media (max-width: 600px) {
        display: flex;
        border: none;
        background: none;
      }
    }

    .nav_title {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: 0.5rem;
      z-index: 1;
      background: white;
    }
  }

  .company-logo {
    display: flex;
    align-items: center;

    .name {
      color: #007837;
      font-size: 2.5rem;
      margin-right: 1rem;
      text-decoration: none;

      @media (max-width: 600px) {
        display: none;
      }
    }

    .logo {
      height: 4rem;
    }
  }

  .hi_msg {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .nav_ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    position: relative;

    @keyframes showMenu {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @media (max-width: 600px) {
      padding: 0;
      flex-flow: column;
      margin: 0;
      display: none;
      font-size: 1.25rem;
      justify-content: flex-start;
      box-shadow: 0 0 0 9999px #0004;

      &.active {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 5rem;
        background: white;
        border-right: 15px ridge yellowgreen;
        animation: showMenu 300ms ease-out;
      }
    }

    > li {
      list-style: none;
      display: flex;
      align-items: center;

      &.products_menu {
        text-align: center;
        padding: 1rem 2rem;
        display: none;

        @media (max-width: 600px) {
          display: flex;
        }
      }
    }
  }

  .menu_icon {
    display: none;

    @media (max-width: 600px) {
      display: flex;
      width: 3.5rem;
      margin-left: 0.5rem;
    }

    &.bigger {
      @media (max-width: 600px) {
        display: flex;
        width: 2.5rem;
        margin: 0 .5rem 0 1rem;
      }
    }
  }

  .menu_text {
    text-decoration: none;
    color: inherit;
    text-align: left;
    padding: 0.5rem 1rem;
    transition: border-bottom 200ms;
    position: relative;
    background: none;
    border: none;
    outline: none;
    flex: 1;
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      padding: 1.5rem 5rem 1.5rem 2rem;
    }

    &.account {
      @media (max-width: 600px) {
        padding: 1.5rem 2.5rem 1.5rem 2rem;
      }
    }

 

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 2px;
      background: greenyellow;
      transition: transform ease-out 200ms;
      transform: scaleX(0);
    }

    &.active {
      &::after {
        transform: scaleX(1);
      }
    }

    &:hover {
      cursor: pointer;

      &::after {
        transform: scaleX(1);
      }
    }

    @media (max-width: 600px) {
      &::after {
        display: none;
      }
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  }
  .account_down_arrow {
    height: 1rem;
    margin: 0 0.5rem 0 1rem;
  }

  .account_dropdown {
    position: absolute;
    z-index: 1;
    background: white;
    display: flex;
    flex-flow: column;
    top: 100%;
    margin: 0;
    right: 3px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.418);
    animation: slideIn 300ms ease-out;

    @media (max-width: 600px) {
      display: flex;
      box-shadow: none;
      position: static;
    }

    .account_dropdown_list {
      display: flex;
      align-items: center;
      white-space: nowrap;
      list-style: none;
      padding: 1rem 1.5rem 1rem 1rem;

      @media (max-width: 600px) {
        padding: 0;
        font-size: 1.25rem;
      }
    }
  }

  main {
    display: flex;
    flex-flow: column;
    min-height: 0;
    flex: 1;
    padding-top: 1.5rem;
    position: relative;

    @media (max-width: 600px) {
      padding-top: 0;
    }
  }

  .search_mobile {
    display: none;
    margin: 0 1rem;

    @media (max-width: 600px) {
      display: flex;
      flex: 1;
      min-width: 0;
    }
  }
}
