.Cart {
    display: flex;
    min-height: 0;
    flex: 1;

    .scroller {
        display: flex;
        flex-flow: column;
        flex: 2;
        overflow: auto;
        margin-right: 1rem;
    }

    .cart_products {
        display: flex;
        flex-flow: column;
        flex: 2;
        padding: 0 1rem;
    }

    .cartP_container {
        display: flex;
        background: white;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 5px rgba(182, 180, 180, 0.658);

        .remove-btn {
            height: 2rem;
            margin: .5rem;

            &:hover {
                cursor: pointer;
            }

        }

        .cartP_image {
            height: 10rem;
            width: 10rem;
            object-fit: contain;
            margin: 0 .5rem;
        }

        .cartP_price {
            font-size: 2.2rem;
            font-weight: bold;
            margin-left: auto;
            margin-right: 1.5rem;
            flex: 0.5;
            justify-content: flex-end;
            text-align: right;
        }

        .cartP_details {
            display: flex;
            flex-flow: column;
            justify-content: center;
            flex: 1;

            .cartP_name {
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: .5rem;
            }

            .cartP_description {
                margin-bottom: 0.5rem;
            }
        }

        .quantity_container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0.5;

            button {
                font-size: 1.2rem;
                border: none;
                padding: 1rem;
                background: orange;
                border-radius: 5px;
                background: green;
                color: white;

                &:hover {
                    cursor: pointer;
                }
            }

            .quantity {
                text-align: center;
                font-size: 1.2rem;
                flex: 1;
            }
        }
    }

    .payment_details {
        display: flex;
        flex-flow: column;
        align-self: flex-start;
        box-shadow: 2px 2px 5px rgba(182, 180, 180, 0.658);
        background: rgba(255, 76, 76, 0.74);
        padding: 1rem;
        margin-right: 1rem;
        flex: 0.5;

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;

            span {
                font-weight: bold;
            }
        }

        button {
            border: 1px black solid;
            padding: .5rem;
            background: rgba(255, 255, 255, 0.849);
            margin-top: auto;
            border-radius: 5px;
            width: 100%;
            

            &:hover {
                background: white;
            }

            &:active {
                border: 1px solid red;
            }
        }
    }
}
