.CategoryCard {
    width: 10rem;
    margin: 0 1rem;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 3px rgba(182, 176, 176, 0.671);
    
    img {
        padding: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem;
    }

}