.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(53, 52, 52, 0.56);
    display: flex;
    justify-content: center;
    z-index: 2;

    .modal-content {
        align-self: center;
        background: gray;
        align-items: center;
        border-radius: 5px;
        padding: 2rem;
        font-size: 1.1rem;
        border: 1px solid black;
        background: white;

        p {
            padding: 1rem;

            span {
                font-weight: bold;
            }
        }

        .sign_in {
            background: white;
        }
    }
}
