.ProductCard {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0.25rem;

    .product_container {
        display: flex;
        flex-flow: column;
        background: white;
        margin: 0 0.25rem;
        padding: 1rem;
        box-shadow: 2px 2px 5px rgba(182, 180, 180, 0.658);
        width: 15rem;
        height: 25rem;
        margin-bottom: 0.5rem;

        .like {
            position: relative;
            cursor: pointer;
            border: none;
            display: flex;
            align-self: flex-end;
            font-size: 1.5rem;
            padding: 0;
            background: none;
            line-height: 1;
            outline: none;

            &::before {
                content: "🤍";
            }
            &::after {
                content: "❤️";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: none;
            }
            &.liked::after {
                transform: translate(-50%, -50%) scale(1.1);
                transition: transform 0.2s cubic-bezier(0.37, 1.85, 0.58, 1.35);
            }
        }
    }

    .product_name {
        font-weight: 600;
    }

    .product_image {
        height: 10rem;
        width: 10rem;
        object-fit: contain;
        align-self: center;
    }

    .product_description {
        flex: 1;
    }

    .product_price {
        font-size: 2.2rem;
        align-self: flex-end;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .add_to_cart {
        border: none;
        background: green;
        color: white;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        width: 100%;
        border-radius: 5px;
    }

    .popup {
        user-select: none;
        p {
            text-align: center;
        }
    }

    .animated {
        @keyframes modalSlide {
            from {
                transform: translateY(100%);
                opacity: 0;
            }

            to {
                transform: translateY(0%);
                opacity: 1;
            }
        }

        animation: modalSlide 0.5s ease-out;
    }
}
