.Search {
    display: flex;
    justify-content: center;

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: 2rem;
        border-radius: 5px;
        background: white;
        width: 50%;
        border: 1px solid grey;
        padding: 0 0.5rem;

        .search-btn {
            background: none;
            border: none;
            padding: .3rem;

            &:hover {
                cursor: pointer;
            }

            .searchImg {
                height: 2rem;
            }
        }

        input {
            flex: 1;
            height: 2.5rem;
            border: none;
            font-size: 1.2rem;
        }
    }
}
