.Settings {
    display: flex;
    flex-flow: column;
    width: 23rem;
    align-self: center;
    flex: 1;

    * {
        margin-bottom: 1rem;
    }

    label {
        margin-bottom: 0.5rem;
    }

    input {
        height: 2.5rem;
        font-size: 1.1rem;
    }

    button {
        border: none;
        background: green;
        border-radius: 5px;
        padding: 1rem;
        color: white;

        &.delete_account_btn {
            background: rgba(236, 2, 2, 0.767);
            margin-bottom: auto;
            margin-top: 0;
        }

    }

}

.settings_title {
    font-weight: bold;
    align-self: center;
}

.settings_header {
    margin-top: auto;
    margin-bottom: 2rem;
}

.empty_p {
    padding: .66rem;
}

.error_msg {
    text-align: center;
    color: red;
    font-weight: 600;
}
